# Needed because `css-loader` and `postcss-loader` define Webpack as peer dependencies.
# You don't need Webpack though since it is part of `@remotion/cli`.

# If you remove this file, it will still work but you will get some warnings with pnpm.
strict-peer-dependencies=false
